/* smart-scan-lp custom CSS */
.designunit__navbarLink {
    width: 100%;
}

.header__smartDocLp {
    z-index: 100;
    background: white;
    border-bottom: 1px solid $color-brand-blue;
    .button-smdc-login {
        color: $color-line-darkabyss;
        border: 1px solid $color-line-darkabyss;
        border-radius: $radius-10;
        font-size: 1rem;
        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        };
        @include media-breakpoint-up(lg) {
            font-size: 1rem;
        };
    }
    .button-smdc-reserve {
        color: $color-line-lightblue;
        border: 1px solid $color-line-lightblue;
        border-radius: $radius-10;
        font-size: 1rem;
        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        };
        @include media-breakpoint-up(lg) {
            font-size: 1rem;
        };
    }
    .button-login-svg , .button-reserve-svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.page__smartDocLp {
    position: relative;
    min-width: 320px;
    @include shingopro;

    @include media-breakpoint-up(lg) {
        padding-top: 4rem;
    };
}


.firstview__message {
    @include junpro;

    position: absolute;
    z-index: 50;/* < .header__smartDocLp , > .firstview__top */
    top: 0;
    left: 1rem;
    @include media-breakpoint-up(sm) {
        z-index: 50;/* < .header__smartDocLp , > .firstview__top */
        top: 4rem;
        left: 6rem;
    };
    @include media-breakpoint-up(lg) {
        z-index: 50;/* < .header__smartDocLp , > .firstview__top */
        top: 7rem;
        left: 6rem;
    };
}

.designunit__title {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    @include media-breakpoint-up(sm) {
        border-top: 1px solid white;
    };
}

.firstview__sp__top {
    background: url('/public/svg/img-main-isometric.svg')no-repeat 80% 45%,$bgi-gradient-blue-white;
    width: 100%;
    height: 34rem;
    padding: 21rem 0 0;// 固定
    .content__sp__catchCopy {
        padding: 1em;
        border-radius: $radius-3;
        box-shadow: 18.92px 18.92px 43px #5fbcff24, -18.92px -18.92px 43px #FFFFFF;
    }
    .list__catchCopy {
        @for $i from 1 through 3 {
            .list_#{$i} {
                position: relative;
                font-size: 1rem;
                font-weight: 600;
                list-style-type: none;
                /*&::before {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    background: url('/public/svg/icon-number-lb#{$i}.svg')no-repeat left center;
                    background-size: 80%;
                    width: 30px;
                    height: 30px;
                    left: -30px;
                    top: 0;
                }*/
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    background: url('/public/svg/carret-orange.svg')no-repeat left center;
                    background-size: 40%;
                    width: 30px;
                    height: 30px;
                    left: 40%;
                    top: 1.25rem;
                }
            }
            .list_3::after {
                background: none;
            }
        }
    }
}

/* sns(fv)の位置調整 */
@mixin fv-sns-view {
    position: absolute;
    right: 0;
    bottom: -3rem;
    @media screen and (min-width:992px) {
        position: absolute;
        right: initial;
        left: 0;
        bottom: -3rem;
    }
    @media screen and (min-width:1130px) {
        position: absolute;
        left: initial;
        right: 0;
        bottom: -3rem;
    }
}

.firstview__top {
    position: relative;
    background: url('/public/svg/img-main-isometric.svg')no-repeat 20% 75%,$color-brand-blue;
    background-size: 20rem;
    width: 100%;
    height: 500px;

    .sns-links-area {
        width: 8rem;
        @include fv-sns-view;
    }
    .sns-links-svg {
        width: 1.75rem;
    }
}
.designunit__catchcopy__fv {
    width: 10rem;
    height: 10rem;
    box-sizing: border-box;
    background: url('/public/svg/circle-fv-checking.svg')top left no-repeat;
    background-size: 10rem;
    text-align: center;
    padding-top: 3rem;
    font-weight: 700;
    small {
        font-weight: 700;
    }
}
.designunit__card__fv {
    position: absolute;
    @include media-breakpoint-up(sm) {
        top: 20rem;
        right: 5rem;
        background: initial;
        border: initial;
        .card-image-area {
            width: 20rem;
            padding: 2rem;
            margin: 0 auto;
            padding: 0 0 1rem;
            text-align: center;
        }
    };
    @include media-breakpoint-up(lg) {
        right: initial;
        top: 3rem;
        left: 45%;
        background: white;
        border: 1px solid $color-line;
        .card-image-area {
            width: 80%;
            padding: 2rem;
            margin: 0 auto;
            padding: 0 0 2rem;
            text-align: center;
        }
    };
}

.designunit__topic__ClinicLink {
    @include media-breakpoint-up(sm) {
        color: $color-brand-blue;
    };
    font-size: 1.35rem;
    font-weight: 600;
}

.designunit__clinicLinkBtn {
    position: relative;
    border: $color-line-lightblue 2px solid;
    border-radius: $radius-10;
    max-height: 80px;
    text-align: center;
    background: white;
    @include media-breakpoint-up(sm) {
        max-width: 800px;
        height: auto;
        display: block;
        margin: 0 auto;
        border: $color-brand-blue 1px solid;
        box-shadow: 5px 5px 10px #2470f324, -5px -5px 43px #FFFFFF;
    };
    @include media-breakpoint-up(sm) {
        max-height: initial;
    }
    .button__moist {
        padding: .25rem;
        border-radius: $radius-10;
        box-shadow: 5px 5px 10px #2470f324, -5px -5px 43px #FFFFFF;
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        background: url('/public/svg/icon-triangle-conversion.svg')no-repeat;
        background-size: 80%;
        width: 2rem;
        height: 2rem;
        @include v-centering;
        left: initial;
    }
}

.designunit__topic {
    display: inline-block;
    padding-bottom: 1rem;
    font-size: 1.35rem;
    font-weight: 600;
    color: $color-brand-blue;
    border-bottom: 3px solid $color-line-lightblue;
}

.content__sp__whatIsSmartDoc {
    border: 1px solid $color-line-lightblue;
    border-radius: $radius-3;
    &::before {
        content: "";
        display: block;
        position: absolute;
        background:url('/public/svg/icon-cool-smart-brain-doc.svg') no-repeat;
        width: 80px;
        height: 80px;
        left: 7px;
        top: -25px;
    }
    .onlyls-image-area > .view-brainimage-blue{
        border-radius: $radius-10;
    }
}
.content__whatIsSmartDoc {
    .designunit__contentBox {
        position: relative;
        border: 1px solid $color-line;
        border-radius: 3px;
        @include media-breakpoint-up(md) {
            height: 240px;
        };
        @include media-breakpoint-up(lg) {
            height: 170px;
        };
        .v-centering {
            @include v-centering;
            padding: 3rem;
        }
    }
}

.designunit__meritSmartDocFrame {
    position: relative;
    background: $color-bg-lightblue;
    border: 2px solid $color-line-lightblue;
    border-radius: $radius-10;
    color: $color-line-lightblue;
    font-weight: 700;
    .designunit__subtopic__blue {
        font-size: 1.25rem;
        display: inline-block;//important
        padding-bottom: 1.25rem;
        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            background:url('/public/svg/icon-check.svg') no-repeat;
            width: 30px;
            height: 30px;
            left: 2rem;
            top: .8rem;
        }
    }
    .designunit__price {
        font-size: 3rem;
        display: inline-block;
        font-weight: 600;
    }
}

@mixin flowBox {
    position: absolute;
    z-index: 10;
    color: white;
    left: -.5rem;
    top: -2rem;
    font-size: 2rem;
    background:url('/public/svg/circle-black.svg') no-repeat;
    width: 10rem;
    height: 10rem;
    padding: 1.15rem 2.35rem;
    @include media-breakpoint-up(md) {
        left: -3rem;
    };
}
.designunit__flowBox {
    position: relative;
    border: 1px solid $color-line;
    border-radius: $radius-3;
    line-height: 1.75;
    
    .designunit__timeRequired {
        border: 1px solid $color-brand-blue;
        border-radius: $radius-50;
        color: $color-brand-blue;
        background: $color-bg-lightblue;
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 600;
        padding: 0 .5rem;
    }

    &.flowBox__1::before {
        content: "1";
        @include flowBox;
    }
    &.flowBox__2::before {
        content: "2";
        @include flowBox;
    }
    &.flowBox__3::before {
        content: "3";
        @include flowBox;
    }
}

.designunit__flowBox__notify {
    @extend .designunit__flowBox;
    &::before {
        content: "";
        @include flowBox;
        background: url('/public/svg/icon-explanation.svg') no-repeat 1.9rem 1.9rem /20% , url('/public/svg/circle-lightblue.svg') no-repeat;
    }
}

.designunit__subtopic {
    font-size: 1.25rem;
    font-weight: 600;
}
.list__recommendReason {
    line-height: 2;
}

.designunit__detailLinkBtn {
    height: 80px;
    background: white;
    color: $color-brand-blue;
    font-weight: 600;
    border: $color-brand-blue 2px solid;
    border-radius: $radius-50;
    @include media-breakpoint-up(lg) {
        box-shadow: 5px 5px 10px #2470f324, -5px -5px 43px #FFFFFF;
    }
}

.designunit__conversionBtn {
    height: 80px;
    background: $color-line-lightblue;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: white 2px solid;
    border-radius: $radius-10;
    box-shadow: 5px 5px 10px #2470f324, -5px -5px 43px #FFFFFF;
    &:hover {
        background: $color-line-lightblue-ops;
    }
}

.designunit__aboutSmartDoc__a {
    background:
    url('/public/svg/img-main-isometric.svg')no-repeat 95% 2rem /20%,
    url('/public/svg/ray-effect.svg')no-repeat 50% 20% /40%,
    url('/public/images/medical-bg-smdc-a01.png')no-repeat 0 0 /60%,
    url('/public/svg/ray-effect.svg')no-repeat 100% 100% /50%;
    @include media-breakpoint-up(md) {
        background:
        url('/public/svg/img-main-isometric.svg')no-repeat 22% 42% /20%,
        url('/public/svg/ray-effect.svg')no-repeat 50% 20% /40%,
        url('/public/images/medical-bg-smdc-a01.png')no-repeat 0 30% /60%,
        url('/public/svg/img-fd-isometric-medical.svg')no-repeat 80% 90% /30%,
        url('/public/svg/ray-effect.svg')no-repeat 100% 100% /50%;
    }
}
.designunit__aboutSmartDoc__b {
    background:
    url('/public/svg/ray-effect.svg')no-repeat 0% 0% /50%,
    url('/public/svg/ray-effect.svg')no-repeat 80% 80% /80%,
    url('/public/images/enhanced-bg-02.png')no-repeat -3rem -5rem /100%,
    url('/public/images/enhanced-bg-01.png')no-repeat 50% 60% /100%;
    padding: 20vh 0 0;
    @include media-breakpoint-up(md) {
        background:
        url('/public/svg/ray-effect.svg')no-repeat 0% 0% /50%,
        url('/public/svg/ray-effect.svg')no-repeat 80% 80% /80%,
        url('/public/images/enhanced-bg-02.png')no-repeat 0% -10% /100%,
        url('/public/images/enhanced-bg-01.png')no-repeat 80% -50% /70%;
        padding: initial;
    }
    .bg-clear-white {
        background: $color-clear-white;
    }
}

.content__chargeMenu__pc__jumbotron {
    @include media-breakpoint-up(md) {
        padding: 0 5rem 5rem;
        background: white;
    };
    border-bottom: 1px solid $color-brand-blue;
}
.content__chargeMenu__pc__cardbase {
    @include media-breakpoint-up(md) {
        margin: 0 auto;
        width: 80%;
        display: block;
        background: white;
        border-radius: $radius-3;
    };
}


.designunit__subtopic__charge {
    font-size: 1.25rem;
    font-weight: 600;
    color: $color-brand-blue;
}
.designunit__subtopic__chargeMenu {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background: $color-brand-blue;
}
.content__chargeMenu {
    color: $color-brand-blue;
    position: relative;
    .view-brainimage-blue , .icon-brainimage-blue {
        width: 30vw;
        @include media-breakpoint-up(md) {
            width: 20vw;
        };
    }
    .chargeMenu__priceSet {
        position: relative;
        font-weight: 700;
    }
    .designunit__price {
        font-size: 3rem;
    }
    .list__recommendation {
        @for $i from 1 through 4 {
            .list_#{$i} {
                position: relative;
                list-style-type: none;
                &::before {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    background: url('/public/svg/list-disc-softblue.svg')no-repeat left center;
                    background-size: 60%;
                    width: 2rem;
                    height: 2rem;
                    left: -2rem;
                    top: -.2rem;
                }
            }
        }
    }
}

.designunit__meritSix__jumbotron {
    padding: 0 1rem;
    @include media-breakpoint-up(md) {
        padding: 0 5rem;
        background: url('/public/images/six-point-design-pc-left.png') 5rem 15rem / 25rem 25rem no-repeat,$bgi-gradient-matgray-white;
    };
}
.designunit__meritSix__froatBox {
    @include media-breakpoint-up(md) {
        max-width: 924px;
        float: right;
        > .designunit__meritSixFrame{
            float: right;
        }
        ::before {
            content: "";
            display: block;
            clear: both;
        }
    }
}
.designunit__meritSixFrame {
    min-width: 300px;
    max-width: 300px + 80px;
    margin: 0 auto;
    color: white;
    background: $color-bg-matblue;
    border-radius: $radius-30;
    box-shadow: 5px 5px 10px #2470f324, -5px -5px 43px #FFFFFF;
    background: $bgi-gradient-matblue-white;
    @include media-breakpoint-up(md) {
        margin: 0 0 0 .5rem;
        box-shadow: initial;
        opacity: .9;
        height: 325px;/* これだけ別 */
    };
}
.designunit__meritSixFrame {
    .card-title {
        border: 1px solid white;
        border-radius: $radius-30;
        font-size: 1.25rem;
        @include media-breakpoint-up(md) { font-size: 1rem; };
    }
    .card-image-area {
        width: 20%;
        position: relative;
        @include media-breakpoint-up(md) { width: auto; };
        .card-image-svg {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            @include media-breakpoint-up(md) {
                position: relative;
                width: 90%;
                margin: 1rem auto;
            }
        }
    }
    .card-doc {
        width: 70%;
        line-height: 2;
        @include media-breakpoint-up(md) {
            width: auto;
        };
    }
    .emp-point {
        font-size: 1.25rem;
        text-decoration: underline;
    }
}
.footer__smartDocLp {
    padding: 0 0 5rem;
    @include media-breakpoint-up(md) {
        padding: 0 0 3rem;
    };
    .sns-links-area {
        width: 18rem;
        @include media-breakpoint-up(md) {
            width: 13rem;
        };
    }
    .sns-links-svg {
        width: 3rem;
        box-shadow: 5px 5px 10px #2470f324, -5px -5px 43px #FFFFFF;
        @include media-breakpoint-up(md) {
            width: 2rem;
        };
    }


    .footer-logo-svg {
        width: 80%;
        @include media-breakpoint-up(sm) {
            width: 60%;
        };
        @include media-breakpoint-up(md) {
            width: 30%;
        };
    }
}